/* Variables */
  :root{
    /* ---- Primary ---- */
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);
    /* ---- Neutral ---- */
    --DarkGray: hsl(0, 0%, 59%);
    /* ---- Font Size [Name Stats] ---- */
    --Name-Stats: 1.125rem; /* Font size (name and stats): 18px */
  }
  /* Global Rules */
  * {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif; /* Font Weight 400 / 700 */
    background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg), var(--DarkCyan);
    background-repeat: no-repeat;
    background-position: right 52vw bottom 34vh, left 48vw top 51vh;
}
@media (max-width: 767px) {
  body {
    background-position: right 34vw bottom 34vh, left 34vw top 34vh;
  }
}
/* Profile Card */
  .card {
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 13px;
    overflow: hidden;
    -moz-box-shadow: 0px 10px 65px rgb(16 96 104 / 31%),
    0px -10px 65px rgb(16 96 104 / 31%);
    -webkit-box-shadow: 0px 10px 65px rgb(16 96 104 / 31%),
    0px -10px 65px rgb(16 96 104 / 31%);
    box-shadow: 0px 10px 65px rgb(16 96 104 / 31%),
    0px -10px 65px rgb(16 96 104 / 31%);
    transition: 0.3s ease;
  }
  .card:hover {
    transform: scale(1.07);
  }
  .image {
    background: url(images/bg-pattern-card.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    position: relative;
  }
  img {
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;
  }
  .info {
    padding: 70px 0 25px;
    display: block;
    text-align: center;
  }
  .name {
    font-size: var(--Name-Stats);
    color: var(--VeryDarkDesaturatedBlue);
    margin-bottom: 5px;
  }
  .info .age {
    font-weight: 400;
    color: var(--DarkGrayishBlue); 
    padding-left: 3px;
  }
  .info .location {
    color: var(--DarkGray);
    font-size: 0.866rem;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1px solid var(--DarkGray);
    padding: 25px;
  }
  .stats > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
  }
  .stats > li > span {
    display: block;
  }
  .stats > li .num {
    color: var(--VeryDarkDesaturatedBlue);
    font-size: var(--Name-Stats);
    font-weight: 700;
  }
  .stats > li .soc {
    color: var(--DarkGray);
    font-size: 0.6250rem;
    letter-spacing: 1px;
    margin-top: 4px;
  }